div.product-overview {
  padding: 80px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

div.product-overview > div.product {
  padding: 8px;
  width: 28%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.product-overview > div.product > img {
  height: auto;
  width: 100%;
}

